.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
  background-color: rgba(49, 52, 64, 0.7);
  font-family: 'Arial', sans-serif;
  z-index: 10002;
  animation: 0.3s ease fadeIn;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .content {
    margin: 5% auto;
    max-width: 756px;
    padding: 30px;
    border: 1px solid #f0f3ff;
    box-shadow: 0 10px 12px rgba(31, 38, 41, 0.16);
    border-radius: 8px;
    background: #ffffff;

    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  .header {
    position: relative;
    padding-right: 30px;
    margin-bottom: 15px;
  }

  .close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    border: 0;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 15px;
      background-color: #8c93ad;
      top: 50%;
      left: 50%;
      border-radius: 2px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #000;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  p {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #313440;
  }

  .img {
    margin-top: 20px;
    padding: 15px 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
